/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
.mui-plus header.mui-bar{
	display: none;
}
.mui-plus .mui-bar-nav~.mui-content{
	padding: 0;
}

/*hm开头的表示仅为 Hello MUI示例定义*/
.hm-description{
	margin: .5em 0;
}

.hm-description>li {
	font-size: 14px;
	color: #8f8f94;
}

.sec-font {
	font-size: 17px;
	font-weight: bolder;
	 
	word-break:break-all; 
}

.icon-size{
	font-size: 45px;
	height: 50px;
	width: 100%;
}


.app-back{
	height: 100%;
	width: 100%;
	background-color: #b8c2cb;
}


.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
/*    background-color: #123456;*/
}

.offer-items {
    background-color: #fff;
    padding: 30px 10px 25px 10px;
    border-radius: 30px;
    transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
}

.app-margin-top {
	margin-top: 30px;
}
